<link href = "css/projects.css" rel = "stylesheet">
<div class="container">
    <div class="subcell randomColor"><p id="paragraph1"></p></div>
    <div class="subcell randomColor"></div>
    <div class="subcell randomColor">
        <canvas class="technologyPie" id="ParkNEatPie">
            Sorry, your browser does not support the canvas tag.
        </canvas>
        <div id="technologyPieLegend" style="display: inline-block;"></div>
    </div>
    <div class="subcell randomColor">
    </div>
    <div class="subcell randomColor"><p id="paragraph2"></p></div>
    <div class="subcell randomColor">
    </div>
</div>